body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-Primario);
  color: var(--color-fonte-Primaria);
  font-family: var(--font-Primaria);

  /* contra scroll lateral */
  overflow-x: hidden; 
}

main {
  width: 100%;
}

.Section_Topo {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(15, 23, 42, 0.75), rgba(15, 23, 42, 0.85)),
    url("/Images/img_section_topo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5%;
  box-sizing: border-box;
  align-items: flex-start;
}

.H1_Topo {
  font-size: var(--font-size-Titulo);
  background: linear-gradient(90deg, #a78bfa, #7dd3fc, #f472b6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  max-width: 800px;
}

.P1_Topo {
  font-size: 1.5rem;
  color: var(--color-fonte-opaca);
}

/* Input de busca */
.Div_Input {
  margin-top: -20rem;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SearchGame {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.inputBuscar {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.3rem;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  width: 40rem;
  height: 3.5rem;
  transition: all 0.3s ease;
}

.inputBuscar:hover {
  border-color: #a78bfa;
  background: rgba(255, 255, 255, 0.1);
}

.SectionDescontosdaSemana {
  min-height: 55vh;
  background: linear-gradient(135deg, #0a2540 0%, #1e40af 100%);
  color: #fff;
  padding: 5px 5%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.6);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.12) 1px,
    transparent 0
  );
  background-size: 35px 35px;
}

.h2DescontosdaSemana {
  text-align: left;
  font-size: 2.5rem;
}

.SpanDescontosSemana {
  background: linear-gradient(90deg, #a78bfa, #7dd3fc, #f472b6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Section dos cards */
.SectionConteudo {
  padding: 40px 5%; 
  width: 100%;
  background-color: var(--color-background-Primario);
}

.H1_conteudo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.ContainerCards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    /* 3 cards por linha */
    minmax(320px, 1fr)
  ); 
  gap: 24px;
  width: 100%;
  /* resolveu o bug de scroll lateral */;
  max-width: 1200px; 
  margin: 0 auto; 
}

/* Responsividade mobile */
@media (max-width: 900px) {
  .ContainerCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ContainerCards {
    grid-template-columns: 1fr;
  }
}
